{% extends 'base.html' %}


{% block head %}
<title>The Gambs VNDB Recommendation Engine</title>
{% endblock %}

{% block body %}

<h1>{{output['title']}}</h1>
<ul>
    {% for rec in output['recs'] %}
        {% if output['type'] == 'similar_vns' %}
            <li><a href="https://vndb.org/v{{rec[0]}}">{{rec[0]}}</a> {{rec[1]}}</li>
        {% elif output['type'] == 'similar_users' %}
            <li><a href="https://vndb.org/u{{rec[0]}}">{{rec[0]}}</a> {{rec[1]}}</li>
        {% elif output['type'] == 'recommend_to_users' %}
            <li>{{rec[0]}} {{rec[1]}}</li>
        {% endif %}
    {% endfor %}
</ul>

{% endblock %}